.Auth{
    height: 100vh;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:1.3rem;
}

.Singup{
   
    height:680px;
    width: 650px;
    background-color: #FFFFFF;
    border-radius: 10px;
    border: 0.5px solid black ;
}

.form{
    margin-top: 0;
}
.heading{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0;
    padding-left: 5%;
    font-size: 25px;
    gap: 0.2rem;
   
}
p{
    margin: 0;
    padding: 0;
}
h4{
    margin: 0;
    padding: 0;
}
h5{
    margin: 0;
    padding: 0;
}

.form{
    margin: 0;
    
}

.head{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 5%;
    margin-bottom: 10px;
    font-size: 18px;
  
}

.text{
    font-weight: 700;
   
    color: rgb(78, 38, 38);
}

.inp{
    
    width: 90%;
    margin-left: 4.5%;
    margin-bottom: 15px;
    height: 3.5rem;
    display: flex;
    background: transparent;
    cursor: pointer;
 
}
.inp>input{
   
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    cursor: pointer;
    padding-left: 10px;
   background: transparent;
   border-radius: 0.5rem;
   border: 1px solid black;
   
}



.btn{
    height: 50px;
    margin: 25px;
    background-color: black;
    color: white;
    cursor: pointer;
    
}
.btn>button{
    background-color: black;
    color: #E5E5E5;
    border: none;
    width: 100%;
    height: 100%;
    border-radius: 0.5rem;
    cursor: pointer;
}

.goto{
    
 display: flex;
 align-items: center;
 justify-content: center;
 gap: 0.5rem;
 cursor: pointer;
 

}
.logo{

    height:505px;
    width: 701px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.logo>p{

    color: rgb(0, 0, 0);
    font-weight: 200;
    font-size: 5rem;
    letter-spacing: 3px;
}


@media only screen and (max-width: 480px) {
    .logo {
      display: none;
      width: 0px;
      height: 0px;
    }
    .logo>p{
        display: none;
        width: 0px;
      height: 0px;
    }
    .Singup{
         position: absolute;
        height:100vh;
        width: 100%;
        background-color:
        #FFFFFF;
        border-radius: 10px;
       padding-top:2rem ;
       padding-bottom:1rem ;
    }
   
  }
